.json{
    text-align: left;
}

#top{
    padding-top: 2%;
    padding-bottom: 2%;
    background: #476E81;
}

#bar{
    background: rgb(39, 40, 34);
    color: white;
}

#h2{
    color: white;
    font-family: "courier","sans-serif";
}

#bottom{
    font-size: 13px;
    height: 500px;
    overflow: auto;
}

.segment{
    overflow:hidden;
}

#link{
    padding-top: 7px;
    color: white;
    font-family: "courier","sans-serif";
    font-size: 1.1rem;
}