.json{
    text-align: left;
}

#top{
    padding-top: 2%;
    padding-bottom: 2%;
    background: #557655;
}

#h2{
    color: white;
}

#bottom{
    font-size: 13px;
    height: 500px;
    overflow: auto;
}

.segment{
    overflow:hidden;
}

#link{
    padding-top: 7px;
}